<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing App 🎨</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div class="nav">
            <!-- Color selection divs -->
            <div class="clr" data-clr="#000"></div>
            <div class="clr" data-clr="red"></div>
            <div class="clr" data-clr="orange"></div>
            <div class="clr" data-clr="blue"></div>
            <div class="clr" data-clr="purple"></div>
            <div class="clr" data-clr="yellowgreen"></div>
            <div class="clr" data-clr="yellow"></div>
            <div class="clr" data-clr="#fff"></div>
        

            <!-- Clear and Save buttons -->
            <button class="clear">Clear</button>
            <button class="save">Save</button>
            <!-- Color input and brush thickness input -->
            <input type="color" id="favcolor" value="#000000" title="Pick your color">
            <label for="brushThickness">Brush Thickness:</label>
            <input type="range" id="brushThickness" value="5" min="1" max="20" oninput="this.nextElementSibling.value = this.value">
            <output>5</output>
            <!-- Search button -->
            <button id="searchButton">Search</button>
            <div class="emoji">🎨</div>
        </div>
        <div class="canvas-container">
            <div class="result" id="resultText"></div>
            <canvas id="canvas"></canvas>
        </div>
    </div>
</body>
</html>
