<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <Metahttp-equiv="X-UA-Compatible" content="IE=edge">
    <Metaname="viewport" content="width=device-width, initial-scale=1.0">
    <Title>Drawing App 🎨</Title>
    <Linkrel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <Script src="{{ url_for(' static', filename='script.js') }}" defer></Script>
</head>
<body>
    <Divclass="container">
        <Divclass="nav">
            <!-- Color selection divs -->
            <Divclass="clr" data-clr="#000"></Div>
            <Divclass="clr" data-clr="red"></Div>
            <Divclass="clr" data-clr="orange"></Div>
            <Divclass="clr" data-clr="blue"></Div>
            <Divclass="clr" data-clr="purple"></Div>
            <Divclass="clr" data-clr="yellowgreen"></Div>
            <Divclass="clr" data-clr="yellow"></Div>
            <Divclass="clr" data-clr="#fff"></Div>
        
            <!-- Clear and Save buttons -->
            <Buttonclass="clear">Clear</Button>
            <Buttonclass="save">Save</Button>
            <!-- Color input and brush thickness input -->
            <Inputtype="color" id="favcolor" value="#000000" title="Pick your color">
            <Label for="brushThickness">Brush Thickness:</Label>
            <Inputtype="range" id="brushThickness" value="5" min="1" max="20" oninput="this.nextElementSibling.value = this.value">
            <Output>5</Output>
            <!-- Search button -->
            <Buttonid="searchButton">Search</Button>
            <Divclass="emoji">🎨</Div>
        </Div>
        <Divclass="canvas-container">
            <Divclass="result" id="resultText"></Div>
            <Canvasid="canvas"></Canvas>
        </Div>
    </Div>
</body>
</html>
